
/* Shared items */
*{
    box-sizing: border-box;
}
.container{
    max-width: 1280px;
    margin: auto;
}



/* navbar Style */
nav{
    display: flex;
    justify-content: space-between;
}
.search-bar{
    position: relative;
}
.fa-magnifying-glass{
    position: absolute;
    top: 17px;
    right: 13px;
    color: rgb(186, 186, 186);
}
.search-bar input{
    background: rgb(241, 241, 241);
    border-radius: 66px;
    width: 500px;
    padding: 15px 30px;
    border: none;
}
.nav-items{
    display: flex;
    list-style: none;
    gap: 10px;
}
.nav-items a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600px;
    color: rgb(112, 112, 112);
}
